<h2>Add an airline</h2>

<form action="/airlines/add" method="post">
  <input type="text" name="airlineName" placeholder="Enter the airline name">
  <input type="number" name="fare" placeholder="Fare">
  <button type="submit" name="button">Submit</button>
</form>
