<h2>Flight Planner app</h2>

<a href="/airlines/add">Add an airline</a>
<a href="/cities/add">Add a city</a>
<a href="/flights/add">Add flights</a>

<p><a href="/flights">View all flights</a></p>

<!-- <p><a href="/test">TEST PAGE</a></p> -->
